<nav
  class="navbar is-light is-spaced"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">
      <h1 class="title is-3">HMS</h1>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/" class="navbar-item"> Home </a>
      <a *ngIf="isLoggedIn" routerLink="/profile" class="navbar-item">
        Profile
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div *ngIf="!isLoggedIn" class="buttons">
          <a routerLink="/register" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a routerLink="/login" class="button is-success"> Log in </a>
        </div>
        <div *ngIf="isLoggedIn" class="buttons">
          <h4 class="subtitle">{{ currentUser?.email }}</h4>
          <a (click)="logout()" class="button is-success"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
